@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #f1f1f1;
	color: #555;
}
#gnb {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
	text-align: center;
	background-color: #fff;
}
#gnb.fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	background-color: rgba(0,0,0,.3);
}
#gnb li {
	display: inline-block;
}
#gnb li a {
	display: block;
	padding: 0 40px;
	line-height: 70px;
	font-size: 0.875em;
	color: #000;
}
#gnb li.active a {
	color: #09f;
}
#gnb.fixed li.active a {
	color: #fff;
}
section {
	padding-top: 200px;
	height: 900px;
	border-bottom: 1px solid #999;
	box-sizing: border-box;
}
section h2 {
	margin: 0 0 10px 60px;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity 0.4s, transform 0.6s;
}
section p {
	margin: 8px 0 8px 60px;
	color: #aaa;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity 0.4s, transform 0.6s;
	transition-delay: 0.4s;
}
section p.last {
	transition-delay: 0.8s;
}
section.active h2,
section.active p {
	opacity: 1;
	transform: translateX(0);
}