@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #2f2f2f;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #555;
}
body.ismobile {
	overflow-y: auto;
}
.main_area {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../images/keyvisual.jpg) no-repeat center center;
	background-size: cover;
}
.main_area .title {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -60px 0 0 -150px;
	width: 300px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.375em;
	font-weight: 300;
	background-color: rgba(255,255,255,.2);
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.4s;
}
.main_area.active .title {
	opacity: 1;
	transform: translateY(0);
}
.sub {
	padding: 75px 50px;
	width: 100%;
	height: 100vh;
	font-size: 2.375em;
	font-weight: 300;
	background-color: #f4f4f4;
	color: #333;
	box-sizing: border-box;
}
.ismobile .sub {
	height: 600px;
}
.sub:nth-child(even) {
	background-color: #eaeaea;
}
.sub h2 {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 300;
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.4s;
	transition-delay: 0.5s;
}
.sub.active h2 {
	opacity: 1;
	transform: translateY(0);
}
.controller {
	position: fixed;
	right: 30px;
	top: 50%;
	z-index: 100;
	margin: 0;
	margin-top: -92px;
	padding: 0;
	width: 14px;
	list-style: none;
}
.controller li {
	margin-top: 22px;
	width: 9px;
	height: 9px;
}
.controller li:first-child {
	margin-top: 0;
}
.controller li a {
	display: block;
	width: 9px;
	height: 9px;
	text-indent: -9999px;
	background-color: #30bdff;
}
.controller li.on a {
	background-color: #fff;
}