body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
dl,
dd {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
  border: none;
}

:root {
	--swiper-theme-color: #ff330e;
}

.wrapper {
  position: relative;
}

.skip_nav a {
  position: fixed;
  left: 0;
  top: -9999px;
  z-index: 9999;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 0.875em;
  background-color: #000;
  color: #fff;
}
.skip_nav a:focus {
  top: 0;
}

/* header */
#start {
  position: relative;
}
#start .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1250px;
  height: 120px;
}
#start .header .nav > ul {
  display: flex;
}
#start .header .nav > ul > li {
  position: relative;
}
#start .header .nav > ul > li > a {
  display: block;
  padding: 0 42px;
  line-height: 40px;
  font-size: 1em;
  font-weight: 600;
  color: #000;
}
#start .header .nav > ul > li:hover > a, 
#start .header .nav > ul > li:active > a {
  color: #ff330e;
}
#start .header .nav li ul {
  display: none;
  position: absolute;
  z-index: 500;
  width: 100%;
}

#start .header .nav ul ul a {
  display: block;
  margin: 2px 0;
  padding-left: 10px;
  line-height: 26px;
  font-size: 0.875em;
  background-color: #999;
  color: #fff;
}
#start .header .nav ul ul a:hover,
#start .header .nav ul ul a:focus  {
  background-color: #ff330e;
}

/* slider */

#start .keyvisual .main_slider {
	position: relative; 
	height: 600px;
	overflow-x: hidden; 
}

#start .keyvisual .main_slider .swiper-container {
	width: 100%;
	height: 100%;
}

#start .keyvisual .main_slider .swiper-wrapper .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.125em;
	background-color: #fff;
}
#start .keyvisual .main_slider .swiper-wrapper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#start .keyvisual .main_slider .swiper-wrapper .author {
	position: absolute;
	left: 58%;
	bottom: 35px;
	line-height: 18px;
	transform: translateX(-40vw);
}

#start .keyvisual .main_slider .swiper-wrapper .author p {
	display: block;
	font-size: 0.813em;
	font-style: italic;
	color: #fff;
	text-align: left;
}

/* swiper-pagination */

.main_slider .swiper-pagination {
	position: absolute;
	left: 50%;
	bottom: 30px;
	width: auto;
	transform: translateX(30vw);
}

.main_slider .swiper-pagination .swiper-pagination-bullet { 
	margin: 0 4px;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	background-color: rgba(245, 245, 245, 0.5);
	border-radius: 50%;
	opacity: 1;
}


.main_slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { /* added */
	background-color: var(--swiper-theme-color);
}

/* content  */

#start .keyvisual .content {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 5;
	width: 1250px;
	height: 100%;
	pointer-events: none;
	transform: translateX(-50%);
}

#start .keyvisual .content .info {
	position: absolute;
	left: 50px;
	top: 60%;
	z-index: 15;
	width: 500px;
	transform: translateY(-50%);
}

#start .keyvisual .content .info p {
	line-height: 1.75;
	font-size: 1.375em;
	font-weight: 600;
	color: #ff330e;
}
#start .keyvisual .content .info a {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 3px;
}
#start .keyvisual .content .info a strong {
	display: inline-block;
	padding: 10px 13px 10px 10px;
	font-size: 3.125em;
	font-weight: 600;
	background-color: #ff330e;
	color: #fff;
}


/* inb */

#start .lnb {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100px;
  height: 100%;
  background-color: #fff;
}
#start .lnb .close {
  margin-top: 45px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#start .lnb .close i {
  font-size: 1.25em;
  color: #000;
  transition: 0.4s;
}
#start .lnb .close.active i {
  color: #ff330e;
  transform: rotate(45deg);
}
#start .lnb .search {
  margin-top: 35px;
  width: 40px;
  height: 140px;
}
#start .lnb .search a {
  display: block;
  margin: 0 auto;
  width: 18px;
  height: 18px;
  font-size: 1.125em;
  color: #000;
}
#start .lnb .search img {
  margin-top: 15px;
}

/* information */
#information {
  display: flex;
  align-items: flex-end;
  gap: 80px;
  padding-top: 80px;
  margin: 0 auto;
  width: 1246px;
  background-color: #fff;
}

#information .title {
  width: 400px;
}

#information .title .top {
  position: relative;
  padding: 50px 0 20px 0;
}

#information .title .top::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 55px;
  height: 8px;
  background-color: #000;
}

#information .title .top p {
  font-size: 1.13em;
  font-weight: 500;
}

#information .title .bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

#information .title .bottom strong {
  font-size: 1.41em;
  font-weight: 600;
}

#information .title .bottom a {
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  font-size: 0.75em;
  background-color: #000;
  color: #fff;
}

#information .content {
  width: calc(100% - 480px);
  font-size: 1.06em;
}

@media only screen and (max-width: 1246px) {
  #information {
    padding: 80px 25px 50px;
  }
}

@media only screen and (max-width: 640px) {
  #information {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  #information .title,
  #information .content {
    width: auto;
    height: 100px;
  }
}

/* events*/

#events {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 160px 0 40px;
  margin: 0 auto;
  width: 1246px;
  background-color: #fff;
}

#events .academy { /**/
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  width: 25%;
}

#events .upcoming { /**/
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  width: calc(50% - 44px);
}

#events .archivey { /**/
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  width: 25%;
}

#events .academy .title,
#events .upcoming .title,
#events .archivey .title {
  padding: 10px 0;
  font-size: 1.19em;
  font-weight: 500;
}

#events .academy .content .photo img,
#events .upcoming .content .photo img,
#events .archivey .content .photo img {
  display: block;
  width: 100%;
  height: 275px;
  object-fit: cover;
}

#events .academy .content .text,
#events .upcoming .content .text,
#events .archivey .content .text {
  padding: 10px 5px;
}

#events .academy .content .text strong,
#events .upcoming .content .text strong,
#events .archivey .content .text strong {
  display: block;
  font-size: 0.94em;
}

#events .academy .content .text span,
#events .upcoming .content .text span,
#events .archivey .content .text span {
  display: block;
  font-size: 0.81em;
}

/* nabi */

#nabi {
  padding: 60px 0;
  overflow: hidden;
}

#nabi .inner {
  margin: 0 auto;
  width: 1246px;
  overflow: visible;
}

#nabi .inner .title {
  padding: 10px 0;
  font-size: 1.19em;
  font-weight: 500;
}

#nabi .inner .content {
  position: relative;
  width: 100%;
  height: 300px;
}

#nabi .inner .content > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#nabi .inner .content .content-overlay {
  position: absolute;
  width: 340px;
  height: 180px;
  left: 130px;
  top: 50%;
  background-color: #fff;
  transform: translateY(-50%);
  padding: 16px 34px;
  box-sizing: border-box;
}

#nabi .inner .content .content-overlay a {
  position: relative;
}

#nabi .inner .content .content-overlay a::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: block;
  content: "";
  width: 55px;
  height: 24px;
  background-image: url("../images/nabimaker_logo.png");
}

#nabi .inner .content .content-overlay .title {
  padding: 10px 0;
}

#nabi .inner .content .content-overlay .text {
  font-size: 0.94em;
}

/* news */

#news {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 70px 0 100px 0;
  margin: 0 auto;
  width: 1246px;
  background-color: #fff;
}

#news .whats-on .title,
#news .notice .title,
#news .event .title {
  padding: 10px 0;
  font-size: 1.19em;
  font-weight: 500;
}

#news .whats-on {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#news .notice {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#news .event {
  display: flex;
  flex-direction: column;
  width: calc(20% - 20px);
}

#news .whats-on .video-style,
#news .event .content img {
  display: block;
  width: 100%;
  height: 340px;
  object-fit: cover;
}

#news .notice .content {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px 20px 30px 20px;
  height: 100%;
}

#news .notice .content .present span {
  display: block;
  font-size: 0.81em;
  color: #696973;
  padding-bottom: 10px;
}

#news .notice .content .text {
  padding-bottom: 20px;
}

#news .notice .content .text a {
  display: block;
}

#news .notice .content .text a strong {
  display: block;
  font-size: 1em;
  padding-bottom: 5px;
}

#news .notice .content .text a p {
  display: block;
  font-size: 0.94em;
  color: #999;
}

#news .notice .content .list {
  position: relative;
}

#news .notice .content .list::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 440px;
  height: 2px;
  background-color: #cacaca;
}

#news .notice .content .list li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#news .notice .content .list li a {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#news .notice .content .list li span {
  font-size: 0.88em;
  color: #999;
}

/* footer */


#footer {
  background-color: #222;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  /* flex-wrap: wrap; */
  width: 1246px;
  /* padding: 0 20px; */
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
  width: 60%;
}

.footer-left .footer-left-top {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 0;
  width: 100%;
}

.footer-left .footer-left-top .info strong,
.footer-left .footer-left-top .info p,
.footer-left .footer-left-top .info span {
	display: block;
	color: #ccc;
}

.footer-left .footer-left-top .info strong {
	font-size: 1.25em;
}

.footer-left .footer-left-top .info p {
	font-size: 0.75em;
	margin-top: 30px;
}

.footer-left .footer-left-top .info span {
	font-size: 0.75em;
}

.footer-left .footer-left-top .sns {
  padding-top: 80px;
}

.footer-left .footer-left-top .sns ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
  position: relative;
}

.footer-left .footer-left-top .sns ul::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 60%;
  height: 1px;
  background-color: #ccc;
}

.footer-left .footer-left-top .sns ul li a {
  display: block;
  padding: 10px 9px;
  line-height: 11px;
  color: #ccc;
  box-sizing: border-box;
}

.footer-left .footer-left-bottom {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.footer-left .footer-left-bottom .utils ul {
  display: flex;
}

.footer-left .footer-left-bottom .utils ul li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 11px;
  box-sizing: border-box;
  font-size: 0.88em;
  color: #ccc;
}

.footer-left .footer-left-bottom .utils ul li:first-child a {
  padding: 10px 15px 10px 0;
}

.footer-left .footer-left-bottom .utils ul li a::after {
  position: absolute;
  content: "";
  right: 0;
  top: 8px;
  width: 1px;
  height: 15px;
  background-color: #ccc;
}

.footer-left .footer-left-bottom .utils ul li:last-child a::after {
  display: none;
}

.footer-left .footer-left-bottom .copyright {
  display: flex;
}

.footer-left .footer-left-bottom .copyright span {
  display: block;
  padding: 5px 15px 5px 0;
  font-size: 0.75em;
  color: #ccc;
}

.footer-left .footer-left-bottom .copyright p {
  position: relative;
  display: block;
  padding: 5px 0 5px 15px;
  font-size: 0.75em;
  color: #ccc;
}

.footer-left .footer-left-bottom .copyright p::after {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 1px;
  height: 15px;
  background-color: #ccc;
}

.footer-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  color: #ccc;
  gap: 30px;
  width: 40%;
}

.footer-right .company,
.footer-right .name {
  width: 100%;
}

.footer-right .company .number strong,
.footer-right .name .number strong {
  position: relative;
  display: block;
  padding: 27px 0;
  color: #ccc;
}

.footer-right .company .number strong::after,
.footer-right .name .number strong::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.footer-right .company .text,
.footer-right .name .text {
  padding: 30px 0;
}

.footer-right .company .text p,
.footer-right .name .text p {
  display: block;
  font-size: 0.81em;
}
