@charset "utf-8";

:root {
	--swiper-theme-color: #fff;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #999;
}

body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 1em;
}

body.fixed {
	overflow: hidden; 
}

/* wrapper */

.wrapper {
    width: 100%;
}

/* start */

#start {
	position: relative;
	width: 100%;
	height: 100vh;
    overflow: hidden;
}

/* header */

#start #header {
	position: fixed; 
    left: 0;
    top: 0;
    z-index: 1001;
    width: 100%;
    padding: 15px 25px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

#start #header .logo a {
	display: block; 
    width: 150px; 
    height: 50px; 
    background-image: url(../images/logo.png);
    background-repeat: no-repeat; 
    background-size: contain; 
}

/* gnb */

#start #header .gnb {
	position: fixed;
	right: -100vw;
	top: 0;
	width: 20em;
	height: 100vh; 
	background-color: #fff;
	z-index: 99999;
	box-sizing: border-box;
	overflow: hidden; 
}

#start #header .gnb.active {
	position: sticky;
	top: 0; 
	right: 0;
}

#start header .gnb .gnb-header {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f74d4e; 
    padding: 30px 25px; 
}

.gnb-header .top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: white;
	margin-bottom: 40px;
}

.gnb-header .top > a {
	color: white;
	font-size: 1em;
	margin-right: 40px;
}

.gnb-header .utils a {
	margin-left: 15px;
}

.gnb-header .utils a.close {
	background: url('../images/menu_close.png') no-repeat center;
	width: 24px;
	height: 24px;
	display: inline-block;
	background-size: contain;
}

.gnb-header .utils a.home {
	background: url('../images/menu_home.png') no-repeat center;
	width: 24px;
	height: 24px;
	display: inline-block;
	background-size: contain;
}

.gnb-header .bottom {
	width: 100%;
}

.gnb-header .bottom ul {
	display: flex;
	justify-content: space-between;
}

.gnb-header .bottom ul li a {
	color: white;
	font-size: 1em;
	margin: 0 10px;
}

.gnb-title {
	position: sticky;
	top: 60px; 
	z-index: 1000;
	background-color: white;
	padding: 30px 25px;
	border-bottom: 1px solid #ccc;
  }

.gnb-title strong {
	display: block;
	margin-bottom: 16px;
}



#menu {
	overflow-y: auto !important; 
    max-height: calc(100vh - 160px) !important;
    padding: 20px 25px;
    scrollbar-width: thin; 
    scrollbar-color: #999 #eaeaea; 
  }

#menu ul li {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

#menu ul li a {
	font-size: 1.2em;
}

  /* 메뉴 호버 효과 */
#menu ul li a:hover {
	color: #f74d4e; ;
}


.dim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	display: none
}

.gnb-active .dim {
	display: block;
	opacity: 1;
  }
  

  .gnb-active .gnb {
	right: 0;
	z-index: 2000;
  }

  .gnb-active body {
	overflow: hidden; 
  }

/* tab */

#start header .tab {
	position: absolute;
	right: 1.3em;
	top: 55%; 
	transform: translateY(-50%);
	width: 2em;
	height: 2em;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/top_btn.png) no-repeat 0 0;
	background-size: cover;
}


/* slider */

#start #slider {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    z-index: 1;
}

#start #slider .main_slider {
    width: 100%;
    height: 100%;
}

#start #slider .main_slider .swiper-container {
    height: 100%;
}

#start #slider .main_slider .swiper-wrapper {
    width: 100%;
    height: 100%;
}

#start #slider .main_slider .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start #slider .main_slider .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
}

#start #slider .main_slider .swiper-slide .slider-text {
	display: flex;
	flex-direction: column;
	position: absolute;
    width: calc(100% - 50px);
    left: 0;
    right: 0;
    bottom: 24%; 
    margin: 0 auto; 
    line-height: 1.2;
}

#start #slider .main_slider .swiper-slide .slider-text .tags {
	display: inline-flex; 
    gap: 5px; 
    margin-bottom: 5px; 
}

#start #slider .main_slider .swiper-slide .slider-text .tags li {
	background-color: rgba(255, 255, 255, 0.8); 
	color: #000; 
	padding: 5px 10px; 
	font-size: 0.875em; 
	display: inline-block; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	white-space: nowrap; 
}

#start #slider .main_slider .swiper-slide .slider-text .tip-title {
	display: block;
	margin-top: 15px;
	font-size: 1.88em;
	color: #fff;
}

#start #slider .main_slider .swiper-slide .slider-text .description {
	display: block;
	margin-top: 15px;
	font-size: 0.94em;
	color: #fff;
}


/* section */
#main_container {
    padding: 25px 0 100px;
}

/* coupon */

#coupon {
	background-color: #ff5c5c;
	color: #ffffff;
	padding: 0 25px; 
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-sizing: border-box;
}

#coupon .promo-text {
    flex: 1;
    font-size: 0.75em;
    line-height: 1.5;
}

#coupon .promo-text p {
    margin: 15px 0 15px 0;
}

#coupon .promo-image img {
    width: 95px;
    height: 95px;
}


/* recommend */

#recommend {
	margin-bottom: 50px;
}

#recommend .inner {
	padding: 35px 0 60px 25px;
	overflow: hidden;
}

#recommend .title {
	position: relative;
	padding: 20px 25px 25px 0;
}

#recommend .title h2 {
	font-size: 1.2em;
	color: #000;
}

#recommend .title a {
	position: absolute;
	right: 25px;
	top: 29px;
	font-size: 0.875em;
}

#sub_slider {
	position: relative;
}

#sub_slider .swiper-container .swiper-slide {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#sub_slider .swiper-container .swiper-slide a {
	display: block;
	width: 100%;
}

#sub_slider .swiper-container .swiper-slide a img {
	width: 100%;
}

#sub_slider .swiper-container .swiper-slide a .label {
	padding: 15px 0;
	width: 100%;
	overflow: hidden;
	color: #000;
	box-sizing: border-box;
}

#sub_slider .swiper-container .swiper-slide a .label dl {
	line-height: 1.75;
}

#sub_slider .swiper-container .swiper-slide a .label dl dt {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em;
}

#sub_slider .swiper-container .swiper-slide a .label dl dd {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.875em;
	color: #4e4d4d;
}

#sub_slider .swiper-button-prev,
#sub_slider .swiper-button-next {
	left: auto;
	right: auto;
	top: auto;
	bottom: -19px;
	width: 20px;
	height: 20px;
}

#sub_slider .swiper-button-prev { 
	right: 90px;
}

#sub_slider .swiper-button-prev::after { 
	content: "";
	width: 20px;
	height: 20px;
	background: url(../images/ico_arrow.png) no-repeat 0 0;
	background-size: 100px auto;
}

#sub_slider .swiper-button-next { 
	right: 20px;
}

#sub_slider .swiper-button-next::after { 
	content: "";
	width: 20px;
	height: 20px;
	background: url(../images/ico_arrow.png) no-repeat -20px 0;
	background-size: 100px auto;
}

#sub_slider .cunt {
	position: absolute;
	right: 39px;
	width: 50px;
	height: 20px;
	text-align: center;
	font-size: 0.875em;
	color: #000;
}

#sub_slider .cunt.hide { 
	display: none;
}

@media only screen and (min-width: 921px) {
	#sub_slider .cunt,
	#sub_slider .swiper-button-prev,
	#sub_slider .swiper-button-next {
		display: none;
	}
}

/* popular */

#popular {
	margin-bottom: 50px;
}

/* popular - popular-title */

#popular .title-banner {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

#popular .title-banner .swiper-container {
    width: 100%;
    height: auto;
}

#popular .title-banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#popular .title-text {
	padding: 0 25px 0 25px;
    margin-bottom: 20px;
}

#popular .title-text strong {
    font-size: 1.13em;
    margin-bottom: 18px;
    display: block;
}

#popular .title-text span {
    font-size: 1.13em;
	font-weight: 500;
    margin-bottom: 15px;
    display: block;
}

#popular .title-text p {
    font-size: 0.94em;
    color: #2d2c2c;
    line-height: 1.5;
}

#popular .recipe-links {
    margin-top: 15px;
	/* padding: 0 25px 0 25px; */
}

#popular .recipe-links a {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    color: #000;
    transition: all 0.3s ease;
}

#popular .recipe-links a:hover {
    color: #ff5c5c;
}

/* popular - recipe-container */

#popular .recipe-container {
    width: 100%;
}

#popular .recipe-container .inner {
	padding: 0 25px 0 25px;
}

/* 뷰 버튼 컨테이너 */
.view-buttons {
    display: flex; 
    gap: 20px; 
	margin: 30px 0 30px 0;
}

/* 뷰 버튼 기본 스타일 */
.view-buttons button {
    width: 27px;
    height: 27px; 
    background: none; 
    border: none; 
    cursor: pointer; 
    background-size: cover;
    background-position: center; 
}

/* 그리드 뷰 버튼 (비활성 상태) */
#gridView {
    background-image: url('../images/veiw_block_off.png'); 
}

/* 리스트 뷰 버튼 (비활성 상태) */
#listView {
    background-image: url('../images/veiw_list_off.png');
}

/* 활성화된 그리드 뷰 버튼 */
#gridView.active {
    background-image: url('../images/veiw_block_on.png'); 
}

/* 활성화된 리스트 뷰 버튼 */
#listView.active {
    background-image: url('../images/veiw_list_on.png'); 
}

/* 레시피 카드 */
.item-container {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.recipe-item {
	padding: 20px 0;
}

.recipe-item a .recipe-photo {
    max-width: 100%;
    height: auto;
	margin-bottom: 20px;
}

/* 배지 스타일 */
.recipe-item .badge {
    background-color: #ff5a5f;
    color: white;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 2px;
}

.recipe-item .tags {
	font-size: 0.75em;
    color: #888;
    margin-top: 20px;
}

.recipe-item .recipe-name {
	font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.recipe-item .ingredients {
    font-size: 0.81em;
    color: #555;
    margin-top: 10px;
}


/* 별점 및 액션 */
.recipe-item .rating {
    margin: 10px 0 10px 0;
}

.recipe-item .actions {
    width: 100%;
}

.recipe-item .actions a img {
    width: 24px;
    margin-right: 5px;
}

/* 비어있는 하트 상태 (기본 상태) */
.actions .heart-button img {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* 빨간색 하트 (활성화된 상태) */
.actions .heart-button.active img {
    content: url('../images/share2_on.png'); 
}



/* 더보기 버튼 */
.more-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    position: relative;/
}

/* 화살표 아이콘 */
.more-button::after {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 8px; 
    background: url(../images/more.png) no-repeat;
    background-size: contain;
}

/* tip */

#tip {
	margin-bottom: 70px;
}

#tip .title-banner {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

#tip .title-banner .swiper-container {
    width: 100%;
    height: auto;
}

#tip .title-banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#tip .title-text {
	padding: 0 25px 0 25px;
    margin-bottom: 25px;
}

#tip .title-text strong {
    font-size: 1.13em;
    margin-bottom: 12px;
    display: block;
}

#tip .title-text span {
    font-size: 1.13em;
	font-weight: 500;
    display: block;
}

#tip .hashtag {
	padding: 0 25px ;
}

#tip .hashtag .hashtag-header {
	margin-bottom: 46px;
} 

#tip .hashtag .hashtag-header .hashtag-title {
	display: flex;
	align-items: center;
} 

#tip .hashtag .hashtag-header .hashtag-title .label {
	background-color: #ff4757;
	color: white;
	font-weight: 600;
	padding: 1px 13px;
	border-radius: 15px;
	font-size: 1em;
}

#tip .hashtag .hashtag-header .hashtag-title strong {
	margin-left: 10px;
	font-size: 1.19em;
	color: #333;
}

#tip .hashtag .hashtag-header .hashtag-text p {
	color: #141414;
	font-size: 0.95em;
	margin-top: 15px;
	line-height: 1.6em;
}

.menu-list {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.menu-item {
	display: flex;
	gap: 12px;
}

.menu-item .menu-photo {
	flex-shrink: 0;
}

.menu-item .menu-photo img {
	display: block;
	width: 162px;
	height: 162px;
	object-fit: cover;
}

.menu-info {
	width: 80%;
}
  
.menu-info strong {
	display: block;
	margin-top: 19px;
	font-size: 0.94em;
	color: #333;
}

.menu-info p {
	margin-top: 13px;
	font-size: 0.81em;
	color: #333;
}

/* info */

#info .top-info {
	width: 100%;
	height: 210px;
	background-image: url('../images/sub_banner3.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 30px;
}

#info .top-info .inner {
	padding: 28px 25px;
}

#info .top-info .inner strong {
	display: block;
	margin-bottom: 15px;
	font-size: 0.94em;
	color: #444;
}

#info .customer {
	padding: 0 25px;
	margin-bottom: 60px ;
}

#info .customer p {
	margin-bottom: 30px;
}

#info .customer ul li {
	line-height: 1.8;
}

#info .inquiry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
	margin-bottom: 30px;
}

#info .inquiry p {
	line-height: 1.8;
	color: #999;
}

#info .notice {
	width: 100%;
	background-color: #f9f9f9;
}

#info .notice .inner {
	padding: 10px 25px;
	text-align: center;
}

.inquiry {
	display: flex;
	justify-content: space-between;
}

.inquiry p {
	font-size: 0.9em;
	color: #666;
	line-height: 1.4;
	margin-bottom: 10px;
}

.inquiry-button a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px ;
	border: 1px solid #ddd;
	border-radius: 2px;
	cursor: pointer;
	text-align: center;
	color:#ddd;
}

.inquiry-button img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.inquiry-button span {
	font-size: 0.9em;
	color: #666;
}

/* footer */

footer {
	width: 100%;
	background-color: #333;
	margin-bottom: 60px; 
}

footer .inner {
	padding: 30px 25px;
	color: #ccc;
	font-size: 1em;
	max-width: 1200px;
}

.footer-links ul {
	margin-bottom: 15px;
	display: flex;
	gap:10px; 
}

.footer-links ul li {
	display: inline-block;
}

.footer-links ul li a {
	color: #ccc;
	font-size: 0.9em;
}

.company-info {
	font-size: 0.85em; 
	margin-bottom: 30px;
	line-height: 2;
}

.company-info p {
	color: #ccc;
}


/* 하단 네비게이션 바 */
.bottom-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1000;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease; 
}

.bottom-nav .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px; 
	height: 60px; 
}

.bottom-nav .nav-item img {
	width: 40px; 
	height: 40px; 
	object-fit: contain;
}

