@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}

/* default setting */
* html * {
	zoom: 1;
}
body {
	width: 100%;
	height: auto;
	line-height: 1.7;
	font-family: "Pretendard Variable", "Noto Sans KR", Dotum, Helvetica, AppleGothic, Gulim, "Roboto", "굴림", sans-serif;
	font-size: 16px;
	letter-spacing: -0.03em;
	color: #000;
	-webkit-text-size-adjust: none;
	background-color: #fff;
	
}
.serif {
	font-family: "Cormorant", 'Pretendard Variable', sans-serif;
}