body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body { 
	font-family: "Roboto", "Noto Sans KR" sans-serif;
}

/* header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 25px 0px;
	width: 1020px;
	height: 120px;
	box-sizing: border-box;
	background-color: #fff;
}

header .sns,
    header .logo,
    header .utils {
        width: 33.3%;
        justify-content: center;
    }

header .sns {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
}

header .sns ul {
	display: flex;
	gap: 6px;
}

header .sns ul li a {
	display: block;
}

header .logo {
	display: flex;
	align-items: center;
}

header .utils {
	display: flex;
	justify-content: flex-end;
}

header .utils ul {
	display: flex;
	gap:6px
}

header .utils ul li a{
	display: block;
	padding: 0px 12px;
	font-size: 12px;
	color: #999;

}

/* menu */

.menu {
	margin: 0 auto;
	width: 1020px;
	background-color: #fff;
}

.menu ul {
	display: flex;
	justify-content: center;
	gap: 6px;
}

.menu ul li a {
	display: block;
	width: 165px;
	line-height: 56px;
	font-size: 14px;
	text-align: center;
	color: #000;
}


/* slider */

.slider {
	height: 420px;
}

.slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* section */

section {
	margin: 0 auto;
	padding: 70px 0 60px;
	width: 1020px;
}

.banner1, 
.banner2 {
	display: flex;
	gap: 30px;
}
.banner2 {
	margin-top: 30px;
}

.banner1 .banner1_1 img,
.banner2 .banner2_2 img  {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner1 .banner1_2 a,
.banner2 .banner2_1 a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 388px;
	text-align: center;
	border: 1px solid #000;
}
.banner1 .banner1_2 a .title strong,
.banner2 .banner2_1 a .title strong {
	display: block;
}

.banner1 .banner1_2 a .title span,
.banner2 .banner2_1 a .title span {
	display: block;
	padding-top: 8px;
}
.banner1 .banner1_2 a .desc,
.banner2 .banner2_1 a .desc {
	padding-top: 25px;
}
.banner1 .banner1_2 a .view_more,
.banner2 .banner2_1 a .view_more {
	padding-top: 15px;
	text-decoration: underline;
}

.banner3 {
	display: flex;
	gap: 30px;
	margin-top: 30px;
}

.banner3_left,
.banner3_right {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.banner3 .banner3_left .banner3_left1 a { 
	display: flex;
	align-items: flex-end;
	width: 495px;
	height: 570px;
	background: url(images/heich.jpg) no-repeat; 
}

.banner3 .banner3_right .banner3_right2 a { 
	display: flex;
	align-items: flex-end;
	width: 495px;
	height: 570px;
	background: url(images/mimic.jpg) no-repeat; 
}

.banner3 .banner3_left .banner3_left1 a .inner,
.banner3 .banner3_right .banner3_right2 a .inner {
	margin-left: 30px;
	margin-bottom: 55px;
}

.banner3 .banner3_left .banner3_left1 a span,
.banner3 .banner3_right .banner3_right2 a span {
	display: block;
	font-size: 14px;
	color: #fff;
}

.banner3 .banner3_left .banner3_left1 a strong,
.banner3 .banner3_right .banner3_right2 a strong{
	display: block;
	margin-top: 8px;
	font-size: 22px;
	font-weight: 600;
	color: #fff;
}

.banner3 .banner3_left .banner3_left1 a span.view_more,
.banner3 .banner3_right .banner3_right2 a span.view_more { 
	display: inline-block;
	margin-top: 20px;
	padding: 12px 18px;
	border: 1px solid #fff;
	box-sizing: border-box;
}

.banner3 .banner3_left .banner3_left1 a:hover span.view_more,
.banner3 .banner3_left .banner3_left1 a:focus span.view_more,
.banner3 .banner3_right .banner3_right2 a:hover span.view_more,
.banner3 .banner3_right .banner3_right2 a:focus span.view_more { 
	background-color: #fff;
	color: #666;
}

.banner3 .banner3_left .banner3_left2 {
	padding: 15px;
	text-align: center;
	width: 495px;
	height: 300px;
	box-sizing: border-box;
	background: url(images/new.png) no-repeat;
}

.banner3 .banner3_right .banner3_right1 {
	padding: 15px;
	text-align: center;
	width: 495px;
	height: 300px;
	border: 1px solid #000;
	box-sizing: border-box;
	background-color: #fff;
}

.banner3 .banner3_left .banner3_left2 a strong,
.banner3 .banner3_right .banner3_right1 a strong {
	display: block;
	font-size: 40px;
	font-weight: 700;
}

.banner3 .banner3_left .banner3_left2 a span,
.banner3 .banner3_right .banner3_right1 a span {
	display: block;
	font-size: 14px;
	color: #666;
}

.banner3 .banner3_left .banner3_left2 .banner3_left2_inner,
.banner3 .banner3_right .banner3_right1 .banner3_right1_inner {

}

.banner3 .banner3_left .banner3_left2 a span.view_more,
.banner3 .banner3_right .banner3_right1 a span.view_more { 
	display: inline-block;
	margin-top: 20px;
	padding: 15px 30px;
	background-color: #000;
	box-sizing: border-box;
	color: #fff;
}

.banner3 .banner3_left .banner3_left2 a:hover span.view_more,
.banner3 .banner3_left .banner3_left2 a:focus span.view_more,
.banner3 .banner3_right .banner3_right1 a:hover span.view_more,
.banner3 .banner3_right .banner3_right1 a:focus span.view_more { 
	background-color: #b5252e;
}


/* footer */
