body, ul, ol, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, table, th, td {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
	font-family: "Open Sans", "Noto Sans KR", sans-serif;
	font-size: 1em;
	color: #000;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
}

body.fixed {
	overflow-y: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

/* start */
#start {
    position: relative;
    width: 100%;
}

#start header {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	background-color: transparent;
    transition: background-color 0.3s;
}

#start header .inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1260px;
	padding: 35px 0;
}

#start header .inner .logo {
	position: relative;
    left: 0; 
    transform: none; 
    width: auto; 
}

#start header .inner .logo img {
    transition: all 0.3s;
}

/* language */


#start header .inner .language {
    position: relative;
    display: inline-flex;
    align-items: center;
}

#start header .inner .language a {
    font-size: 16px;
    font-weight: bold;
    color: #fff; 
    text-decoration: none;
    position: relative;
    padding: 0 10px;
}

#start header .inner .language a::before {
    content: "";
    display: inline-block;
    background-image: url('../images/language.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 7px; 
	vertical-align: middle;
}

#start header .inner .language a::after {
    content: "";
    display: inline-block;
    background-image: url('../images/language_arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 7px; 
	vertical-align: middle;
}

/* desktop  */


#start header .inner .gnb #desktop  {
	display: flex;
    flex-grow: 1; 
    justify-content: flex-end; 
}

#start header .inner .gnb #desktop > ul {
	display: flex;
	gap: 20px;
}

#start header .inner .gnb #desktop > ul > li {
	position: relative;
}

#start header .inner .gnb #desktop > ul > li > a {
	display: block;
    line-height: 40px;
    font-size: 1.19em;
    font-weight: 500;
    color: #fff;
    padding: 0 50px;
    white-space: nowrap;
}

#start header .inner .gnb #desktop > ul > li:hover > a {
    color: #000;
}

#start header .inner .gnb #desktop > ul > li:hover > a,
#start header .inner .gnb #desktop > ul > li.active  > a {
	color: #ee7158;
}

#start header .inner .gnb #desktop ul ul {
    /* display: none; */
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    box-sizing: border-box; 
    overflow: hidden;
}

#start header .inner .gnb #desktop ul ul a {
	display: block;
    line-height: 40px; 
    font-size: 0.81em;
    color: #000;
    text-align: center;
    padding: 0 20px;
    white-space: nowrap;
    box-sizing: border-box; 
    width: 100%;
}

#start header .inner .gnb #desktop ul ul a:hover,
#start header .inner .gnb #desktop ul ul a:focus {
	color: #c0513b;
}


/* mobile  */


#start header .inner #mobile {
	position: fixed;
	right: -100vw;
	top: 0;
	z-index: 1000;
	width: 20em;
	height: 100%;
	background-color: #fff;
	overflow-y: scroll;
	z-index: 99999;
	box-sizing: border-box;
}


#start header .inner #mobile.active {
	right: 0;
	transition: right 0.4s;
}

#start header .inner #mobile .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f04e63; 
    padding: 1em; 
}

#start header .inner #mobile .mobile-header .language {
	font-size: 0.875em;
	color: #fff;
}

#start header .inner #mobile .mobile-header .close {
	width: 1.5em;
	height: 1.5em;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/btn_close.png) no-repeat 0 0;
	background-size: cover;
}


#start header .inner .gnb #mobile > ul > li > a{
	display: block;
	position: relative;
	line-height: 3.6;
	font-size: 0.75em;
	color: #000;
	border-bottom: 1px solid #f1f1f1;
	padding: 0 10px;
}

#start header .inner .gnb #mobile > ul > li:last-child > a {
	border-bottom: none;
}

#start header .inner .gnb #mobile > ul > li.active > a {
	background-color: #fff;
	color: #b36b30;
	border-bottom: none;
}

#start header .inner .gnb #mobile > ul > li > a::after {
	content: "";
	position: absolute;
	right: 1.25em;
	top: 1.125em;
	width: 17px;
	height: 17px; 
	background: url(../images/icon_toggle_arrow.png) no-repeat;
	background-size: 80%; 
	background-position: center; 
}

#start header .inner .gnb #mobile > ul > li.active > a::after {
	content: "";
    position: absolute;
    right: 1.25em;
    top: 1.125em;
    width: 17px;
    height: 17px; 
    background: url(../images/icon_toggle_arrow.png) no-repeat;
    background-size: 80%; 
    background-position: center;
    transform: rotate(180deg); 
}

#start header .inner .gnb #mobile ul ul {
	display: none;
	overflow: hidden;
	background-color: #f7f7f7;
}

#start header .inner .gnb #mobile ul ul li:first-child {
	margin-top: 0.375em;
}

#start header .inner .gnb #mobile ul ul li:last-child {
	margin-bottom: 0.375em;
}

#start header .inner .gnb #mobile ul ul li a {
	display: block;
	line-height: 2.6;
	text-indent: 1.25em;
	font-size: 0.875em;
	color: #000;
	border-bottom: 1px solid #f1f1f1;
}

#start header .inner .gnb #mobile ul ul li:last-child a {
	border-bottom: none;
}

/* slider */

#start .slider {
	position: relative;
	background-image: linear-gradient(50deg,#83e8fe,#83e8fe,#a600fa,#a600fa);
	background-size: 400%;
	background-position-x: 50%;
	z-index: 1; 
	height: 1000px; 
    width: 100%;
}

#start .slider .text {
	position: absolute;
	top: 55%;
	left: 50%;
	line-height: 18px;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

#start .slider .text p {
	display: block;
	font-size: 2.19em;
	font-weight: 400;
}

#start .slider .text strong {
	display: block;
	font-size: 2.81em;
	padding: 60px 0 60px 0;
	line-height: 1.5;
	white-space: nowrap;
}

